<!DOCTYPE html>
<html>
  <head>
    <title>404 Error - Page Not Found</title>
    <style>
      body {
        background-color: #FCE4EC;
      }
      h1 {
        color: #E91E63;
        font-size: 48px;
        text-align: center;
        margin-top: 50px;
      }
      p {
        color: #424242;
        font-size: 24px;
        text-align: center;
        margin-top: 30px;
      }
    </style>
  </head>
  <body>
    <h1>404 Error - Page Not Found</h1>
    <p>We're sorry, but the page you requested could not be found. Please check the URL and try again.</p>
  </body>
</html>

