{% extends 'base.html' %}

{% block content %}
  <h1>{{ appointment.name }}</h1>

  <dl>
    <dt>Nazwa:</dt>
    <dd>{{ appointment.name }}</dd>
    <dt>Opis:</dt>
    <dd>{{ appointment.description }}</dd>
    <dt>Data:</dt>
    <dd>{{ appointment.date }}</dd>
    <dt>Godzina:</dt>
    <dd>{{ appointment.time }}</dd>
    <dt>Klient:</dt>
    <dd>{{ appointment.client }}</dd>
    <dt>Pracownik:</dt>
    <dd>{{ appointment.role }}</dd>
  </dl>
  <form method="POST">
    {% csrf_token %}
    <input type="submit" class="btn btn-lg btn-danger" value="Usuń spotkanie">
    <a href="{% url 'update_appointment' appointment.id%}" class="btn btn-lg btn-primary">Edytuj spotkanie</a>
  </form>
{% endblock %}
