{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
  <div class="container">
    <h1><strong>Products List</strong></h1>
    <div class="row">
      {% for product in grouped_products %}
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
              <h4 class="card-title" font-weight-bold><strong>{{ product.name }}</strong></h4>
                <h3 class="text-muted">Amount: {{ product.total_amount }}</h3>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

