{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
  <div class="container">
    <h1><strong>Products List</strong></h1>
    <div class="row">
      {% for product in grouped_products %}
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{{ product.image.url }}">
            <!-- <img class="card-img-top" src="../media/{{ product.image }}"> -->
            <!-- <img class="card-img-top" src="https://img.freepik.com/premium-zdjecie/pies-animowany-obrazek-generatywna-sztuczna-inteligencja_786688-641.jpg?w=1380" alt="{{ product.name }}"> -->
            <div class="card-body">
              <h4 class="card-title" font-weight-bold><strong>{{ product.name }}</strong></h4>
                <h3 class="text-muted">Amount: {{ product.total_amount }}</h3>
                <form class="form-check-inline">
                  <input class="form-check-input" type="checkbox" id="deficit-{{ product.id }}" {% if product.deficit %}checked{% endif %}>
                  <label class="form-check-label" for="deficit-{{ product.id }}">Deficit</label>
                </form>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}


