{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
  <div class="container">
    <h1><strong>Products Store List</strong></h1>
    <div class="row">
      {% for product in grouped_products %}
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <!-- <img class="card-img-top" src="{{ MEDIA_URL }}product_7rOImYO.jpg" alt="{{ product.image }}"> -->
            <img class="card-img-top" src="https://img.freepik.com/premium-zdjecie/pies-animowany-obrazek-generatywna-sztuczna-inteligencja_786688-641.jpg?w=1380" alt="{{ product.name }}">
            <div class="card-body">
              <h4 class="card-title" font-weight-bold><strong>{{ product.name }}</strong></h4>
                <h3 class="text-muted">Amount: {{ product.total_amount }}</h3>
                <h3>Price: {{ product.price }} PLN</h3>
                <form action="{% url 'delete_product' product.name product.delivery_id %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Sold one product">
                </form>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
