{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}

<h1 class="center">
    Receptionist Page
</h1>
<div class="col">
    <div class="card" style="margin:25px">
        <div class="card-body">
          <h5 class="card-title">Harmonogram</h5>
          <p class="card-text">Zobacz jak przedstawiają się terminy.</p>
          <a href="{% url 'schedule' %}" class="btn" style="background-color: #FFB6C1;">Przejdź</a> 
        </div>
      </div>
  </div>

{% endblock content %}
