{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}

    <div class="container">
        <h1 class="text-center mb-5">Kontakt</h1>
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Barti Karpiuk</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Właściciel</h6>
                        <ul class="list-unstyled">
                            <li>Numer telefonu: +48 123 123 123</li>
                            <li>Email: barti.karpi@spa.com</li>
                            <li>Godziny pracy: Poniedziałek-Piątek: 8.00-20.00</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Kacper Smolec</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Dostawca</h6>
                        <ul class="list-unstyled">
                            <li>Numer telefonu: +48 100 100 100</li>
                            <li>Email: smolec.smolec@spa.com</li>
                            <li>Godziny pracy: Poniedziałek-Piątek: 8.00-20.00</li>
                            </ul>
                        </div>
                    </div>
                </div>

{% endblock %}

